<!DOCTYPE html>
<html lang="en">
<head>
    <title>To-Do List Detail</title>
</head>
<body>
    <main>
        <div>
            <h1>{{ todo_list.name }}</h1>
            <p>
                <a href="{% url 'todo_list_create' todo_list.id %}">Create a new list</a>
            </p>
            <p>
                <a href="'{% url 'todo_list_update' todo_list.id %}">Edit</a>
            </p>
            <p>
                <a href="{% url 'todo_list_delete' todo_list.id %}">Delete</a>
            </p>
            <p>
                <a href="{% url 'todo_item_create' %}">Create a new item</a>
            </p>
            <h2>Tasks</h2>
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in todo_list.tasks.all %}
                        <tr>
                            <td>{{ task.name }}</td>
                            <td>{{ task.due_date }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>
